body {
    height: 100vh;
  }
  
  .Card {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .custom-btn {
    background-color: #6d83f2;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .custom-btn:hover {
    background-color: #5a70d4;
  }

  h2.title a{
    color: black;
    text-decoration: none;
  }
  
  .text-center h2 {
    color: #6d83f2;
    font-weight: bold;
  }
  
  .shadow-lg {
    border: none;
    border-radius: 15px;
  }
  